name: Expand GitBook Aliases

on:
  pull_request:

permissions:
  contents: write

jobs:
  expand-links:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Expand GitBook aliases (exclude README.md)
        run: |
          set -e

          echo "Expanding GitBook aliases (excluding README.md)..."

          # added all aliases to the sed command below
          find . -type f -name "*.md" ! -name "README.md" -print0 | xargs -0 sed -i \
            -e 's|{server}|https://app.gitbook.com/o/diTpXxF5WsbHqTReoBsS/s/SsmexDFPv2xG2OTyO5yV|g' \
            -e 's|{galera}|https://app.gitbook.com/o/diTpXxF5WsbHqTReoBsS/s/3VYeeVGUV4AMqrA3zwy7|g' \
            -e 's|{maxscale}|https://app.gitbook.com/o/diTpXxF5WsbHqTReoBsS/s/0pSbu5DcMSW4KwAkUcmX|g' \
            -e 's|{analytics}|https://app.gitbook.com/o/diTpXxF5WsbHqTReoBsS/s/rBEU9juWLfTDcdwF3Q14|g' \
            -e 's|{columnstore}|https://app.gitbook.com/o/diTpXxF5WsbHqTReoBsS/s/2I4jZ8pGq8bT4w5n3q6r|g' \
            -e 's|{connectors}|https://app.gitbook.com/o/diTpXxF5WsbHqTReoBsS/s/vPz15Lz0Iw3P3yKR3Prd|g' \
            -e 's|{skysql}|https://app.gitbook.com/o/diTpXxF5WsbHqTReoBsS/s/aEnK0ZXmUbJzqQrTjFyb|g'

          git status --short

      - name: Commit changes if needed
        run: |
          if git diff --quiet; then
            echo "No alias replacements needed."
            exit 0
          fi

          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git commit -am "docs: expand GitBook aliases"
          git push
